@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

html{
	background-color:#fafafa
}

h2{
	font-family: Lato;
	color:#646464;
}

p{
	font-family: Lato;
	color:#646464;
}

.cell{
	margin:1rem;
}
.navbar{
	height:100%;
	width: 20%;
	background-color: red;
	float: left;
}
.container {
	position: relative;
	height:90vh;
	margin: 2rem;
}
.grid2-vert{
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;

}

.grid2-hor{
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: rgba(81, 255, 0, 0.151);
}

.top-split{
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.bot-split{
	display: grid;
	grid-template-rows: 1fr 2fr;
	background-color: rgba(0, 128, 38, 0.274);
}

.grid4-hor{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: rgba(62, 190, 230, 0.418);
}

.grid2x3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgba(62, 190, 230, 0.418);
}

.grid3-hor{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgba(208, 211, 19, 0.397);
}

.grid3-vert{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: rgba(185, 13, 148, 0.418);
}

.grid-toolbar{
	display:grid;
	grid-template-rows: 0fr 1fr;
	background-color: rgba(13, 102, 185, 0.658);
}

.small-left{
	
	position: relative;
	background-color: pink;

}

.small-left h2{
	position: relative;
	left:2.625rem;
	top:2.625rem;
}

.small-left p{
	position: absolute;
	left:2.625rem;
	top:11.5rem;
}

.small-left button{
	position: absolute;
	background-color:#2A9D8F;
	color:white;
	left:2.625rem;
	top:20.06rem;
}

.big-right{
	background-color:green;
}

.big-right h3{
	position: relative;
	top:11rem;
	left:2rem;
	float: left;
	color:#2A9D8F;
}

.big-right h3:nth-child(2){
	position: relative;
	color:#F4A261;
	left:25rem;
}

.big-right svg{
	position: relative;
	left:9rem;
	top:2rem;
}

.daysofweek{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	background-color: rgba(208, 211, 19, 0.397);
}

.day {
	margin: 1rem;
	border-style: solid;
	border-radius: 4px;
	padding: 1rem;
	background-color: white;
}

.day p {
	text-align: center;
}

.tracking-ring{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.tracking-ring p{
	color: #2A9D8F;
}
@media (max-width:1100px){
	
}
